{% extends "ocrm/contact_detail.html"%}
{% load crispy_forms_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Add product for contact" "ocrm:create_owned_product" contact_id %}
{% endblock %}


{% block title %}
Create product
{% endblock title %}

{% block top-actions-row %}
{% endblock top-actions-row %}

{% block data-row %}

<style>
  #data-row {
    background-color: #fafafa;
  }
</style>

<div class="card mx-auto my-2" style="max-width: 800px;">
  <div class="card-body p-5">
    <form action="{% url 'ocrm:create_owned_product' contact_id %}" method="post" class="creation-form">
      {% csrf_token %}
      <h4>Fill in the form to create a new product</h4>
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">Create product</button>
      <a href="{% url 'ocrm:contact_detail' contact_id %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
  </div>
</div>

<script>

  $('#sidebar li a.nav-link.active').removeClass('active').addClass('link-dark');
  $('#sidebar li a.nav-link:contains("Contacts")').removeClass('link-dark').addClass('active');
  console.log('clicked');

</script>

{% endblock data-row %}

