{% extends "ocrm/product_list.html"%}
{% load crispy_forms_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Edit product" "ocrm:edit_product" %}
{% endblock %}

{% block title %}
Edit product
{% endblock title %}

{% block top-actions-row %}
{% endblock top-actions-row %}

{% block data-row %}

<style>
  #data-row {
    background-color: #fafafa;
  }
</style>

<div class="card mx-auto my-2" style="max-width: 800px;">
  <div class="card-body p-5">
    <form action="{% url 'ocrm:edit_product' product_id %}" method="post" class="creation-form">
      {% csrf_token %}
      <h4>Edit product properties</h4>
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">Save changes</button>
      <a href="{% url 'ocrm:products'%}" class="btn btn-outline-secondary">Cancel</a>
    </form>
  </div>
</div>

<script>

  $('#sidebar li a.nav-link.active').removeClass('active').addClass('link-dark');
  $('#sidebar li a.nav-link:contains("Products")').removeClass('link-dark').addClass('active');

</script>

{% endblock data-row %}

